[submodule "redmine"]
	path = redmine
	url = https://msrba@github.com/msrba/johanek-redmine.git
[submodule "apache"]
	path = apache
	url = https://msrba@github.com/gwdg/puppetlabs-apache.git
[submodule "puppetdb"]
	path = puppetdb
	url = https://msrba@github.com/gwdg/puppetlabs-puppetdb.git
[submodule "stdlib"]
	path = stdlib
	url = https://msrba@github.com/gwdg/puppetlabs-stdlib.git
[submodule "postgresql"]
	path = postgresql
	url = https://msrba@github.com/gwdg/puppetlabs-postgresql.git
[submodule "inifile"]
	path = inifile
	url = https://msrba@github.com/gwdg/puppetlabs-inifile.git
[submodule "aptcacherng"]
	path = aptcacherng
	url = https://msrba@github.com/gwdg/puppet-aptcacherng.git
[submodule "concat"]
	path = concat
	url = https://msrba@github.com/gwdg/puppetlabs-concat.git
