[submodule "redmine"]
	path = redmine
	url = https://msrba@github.com/msrba/johanek-redmine.git
[submodule "apache"]
	path = apache
	url = https://msrba@github.com/gwdg/puppetlabs-apache.git
[submodule "puppetdb"]
	path = puppetdb
	url = https://msrba@github.com/gwdg/puppetlabs-puppetdb.git
[submodule "stdlib"]
	path = stdlib
	url = https://msrba@github.com/gwdg/puppetlabs-stdlib.git
[submodule "postgresql"]
	path = postgresql
	url = https://msrba@github.com/gwdg/puppetlabs-postgresql.git
[submodule "inifile"]
	path = inifile
	url = https://msrba@github.com/gwdg/puppetlabs-inifile.git
[submodule "aptcacherng"]
	path = aptcacherng
	url = https://msrba@github.com/gwdg/puppet-aptcacherng.git
[submodule "concat"]
	path = concat
	url = https://msrba@github.com/gwdg/puppetlabs-concat.git
[submodule "ntp"]
	path = ntp
	url = https://msrba@github.com/gwdg/puppetlabs-ntp.git
[submodule "apt"]
	path = apt
	url = https://msrba@github.com/gwdg/puppetlabs-apt.git
[submodule "mysql"]
	path = mysql
	url = https://msrba@github.com/gwdg/puppetlabs-mysql.git
[submodule "vcsrepo"]
	path = vcsrepo
	url = https://msrba@github.com/gwdg/puppetlabs-vcsrepo.git
[submodule "firewall"]
	path = firewall
	url = https://msrba@github.com/gwdg/puppetlabs-firewall.git
