[submodule "redmine"]
	path = redmine
	url = https://msrba@github.com/msrba/johanek-redmine.git
[submodule "apache"]
	path = apache
	url = https://msrba@github.com/gwdg/puppetlabs-apache.git
[submodule "puppetdb"]
	path = puppetdb
	url = https://msrba@github.com/gwdg/puppetlabs-puppetdb.git
